name: Deploy Backend to AWS Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Install production dependencies
        run: npm install --production

      - name: Zip Lambda package
        run: zip -r lambda.zip . -x "node_modules/aws-sdk/*"

      - name: Deploy to AWS Lambda
        run: |
          aws lambda update-function-code \
            --function-name event-management-api \
            --zip-file fileb://lambda.zip
